[submodule ".registry"]
	path = .registry
	url = https://github.com/safeinsights/safeinsights.r-universe.dev
	branch = HEAD
[submodule "safeinsights.fusion"]
	path = safeinsights.fusion
	url = https://github.com/safeinsights/fusion-sdk
	subdir = r
